{% ckan_extends %}

{% block header_account_logged %}
    {% if h.check_access('package_create') %}
        <li class="dropdown bstats-dropdown">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" title="{{ _('Better Stats') }}">
                <i class="fa fa-chart-bar" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ h.url_for('better_stats.dashboard') }}">
                        <i class="fa fa-chart-pie" aria-hidden="true"></i>
                        {{ _("Stats") }}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ h.url_for('better_stats_settings.settings') }}">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        {{ _("Settings") }}
                    </a>
                </li>
            </ul>
        </li>
    {% else %}
        <li>
            <a href="{{ h.url_for('better_stats.dashboard') }}">
                <i class="fa fa-chart-pie" aria-hidden="true"></i>
            </a>
        </li>
    {% endif %}

    {{ super() }}
{% endblock %}
