{#
This template is used to render the content of the dashboard page.

metrics - A list of metrics to render on the dashboard.
#}

<div class="module">
    <div class="p-4">
        <div class="mb-4">
            <div class="btn-group pull-right">
                <button class="btn btn-default" id="refresh-all" title="{{ _('Refresh All') }}">
                    <i class="fa fa-refresh"></i> {{ _('Refresh All') }}
                </button>
            </div>
        </div>

        <div class="stats-grid" id="stats-grid">
            {% for metric in metrics %}
                {% snippet 'better_stats/metric_card.html', metric=metric %}
            {% endfor %}
        </div>
    </div>
</div>
